@media(max-width: 400px) {
    nav img,
    ul,
    .container,
    .photos1,
    .photos2,
    .work,
    .ttt {
        flex-direction: column;
        display: flex;

    }
}
@media(max-width: 678px) {
    nav img,

    .container,
    .photos1,
    .photos2,
    .work,
    .ttt {
        flex-direction: column;
        display: flex;

    }
}
@media(max-width: 778px) {
    nav img,
    .container,
    .photos1,
    .photos2,
    .work,
    .ttt {
        flex-direction: column;
    }
}