@media(max-width:778px){
    nav img{
        width: 30%;
    }
    nav ul{
        margin-left: 50%;
        margin-top: -10%;
    }
    
    .contain img{
        width: 40%;
        margin-left: 20%;


    }
    .paragram{
        width: 40%;
        margin-left: -20%;
    }
    h1{
        width: 100%;
        margin-left:20%;
    }
    
    .photos3 p{
        margin-left: 10%;
    }
    .photos3 h3{
        margin-left: 10%;
        
    }
    .photos3 img{
        margin-left: -3%;
        width: 100%;
    }
    .photos4 img{
        margin-left: -3%;
        width: 100%;
    }
    .photos2{
        flex-direction: column;
    }
    .photos4 p{
        margin-left: 10%;
    }
    .photos4 h3{
        margin-left: 10%;
        
    }
    .work {
        flex-direction: column;
    }
    .job img{
        width: 100%;
        margin-left: -1%;
        margin-top: 2%;
    }
    .write h2{
        width: 100%;
        margin-left: 50%;
    }
    .write p{
        width: 180%;
        margin-left: 15%;
    }
    .ttt{
        flex-direction: column;
        margin-left: -2%;
    }
    footer{
        margin-left: -1%;
    }

}

@media(max-width:600px){
    nav img{
        width: 30%;
        margin-left: 2%;
    }
    nav ul{
        margin-left:1%;
        margin-top: -2%;



    }
    .container{
        flex-direction: column;
    }
    .contain img{
        width: 40%;
        margin-left: 30%;

    }
    .paragram{
        width: 100%;
        margin-left: 1%;
    }
    h1{
        width: 100%;
        margin-left:20%;
    }
    
    .photos3 p{
        margin-left: 10%;
    }
    .photos3 h3{
        margin-left: 10%;
        
    }
    .photos3 img{
        margin-left: -3%;
        width: 100%;
    }
    .photos4 img{
        margin-left: -3%;
        width: 100%;
    }
    .photos2{
        flex-direction: column;
    }
    .photos4 p{
        margin-left: 10%;
    }
    .photos4 h3{
        margin-left: 10%;
        
    }
    .work {
        flex-direction: column;
    }
    .job img{
        width: 100%;
        margin-left: -1%;
        margin-top: 2%;
    }
    .write h2{
        width: 100%;
        margin-left: 50%;
    }
    .write p{
        width: 180%;
        margin-left: 15%;
    }
    .ttt{
        flex-direction: column;
        margin-left: 2%;
    }
    footer{
        margin-left: -1%;
    }
    
}