*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    background: rgb(118, 137, 143);
}
nav {
    margin-bottom: 10px;
}
nav ul{
    margin-right: 60%;
    margin-left: 57%;
    margin-top: -7%;
    display: flex;
}
nav ul li :hover{
    color: rgb(217, 219, 219);
    
    
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 10px;
}

nav img{
    width: 30%;
    margin-left: 10%;
    margin-top: 2%;
}
.container{
    display: flex;
}
.contain img{
    width: 50%;
    margin-top: 15%;
    margin-left: 40%;

}
.paragram{
    width: 40%;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 10%;
    margin-left: -2%;
    font-family: sans-serif;
}
.paragram h2{
    font-family: sans-serif;
    color: rgb(245, 245, 245);
}



ul li a{
    margin: 0 2px;
}
.active {
    color: rgb(250, 121, 0);
}


.photos2 {
    display: flex;
    margin-left: 7%;

}
.photos3 img{
    width: 500px;
    height: 300px;
    text-align: center;
}
.photos4 img{
    width: 500px;
    height: 300px;
}
.photos3 p{
    width:80%;
    color: rgb(241, 241, 241);
    margin-top: 3%;
    font-family: sans-serif;
}
.photos4 p{
    width: 80%;
    color: rgb(255, 255, 255);
    margin-top: 3%;
    font-family: sans-serif;
}
h1{
    color: rgb(255, 255, 255);
    margin-left: 35%;
    font-family: sans-serif;
}
.work{
    display: flex;
}
.job img{
    width: 500px;
    margin-top: 15%;
    margin-left: 15%;
    height: 70%;
}
.write p{
    width: 75%;
    color: rgb(255, 255, 255);
    margin-top:2%;
    margin-left:32%;
    font-family: sans-serif;
    
}
.bbb{
    padding: 15px;
    display: flex;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 10px;
    margin: 0 1%;

    
   
}
.ttt{
    margin-left: 55%;
    margin-top: 1%;
    padding: 20px;
    display: flex;
    
}
.bbb a{
    color: rgb(255, 255, 255);
}









nav img{
    width: 20%;
    margin-left: 10%;
    margin-top: 2%;
}
.photo{
    display: flex;  
}
.colom img{
    width: 25%;
    margin-top: 10%;
    margin-left: 50%;
}
.row{
    width: 40%;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 11%;
    margin-left: -1%;
    font-family: sans-serif;
}
.row h3{
    color: rgb(254, 255, 255);
    margin-top:-5%;
}
.colom h3{
    margin-top: -1%;
    margin-left: 55%;
    color: rgb(251, 251, 255);
}
.form-container{
    width: 300px;
    padding: 10px;
    margin-left: 18%;
    margin-top: -1%;

}
h2{
    font-weight:400px;
    text-align: center;
    color: rgb(221, 221, 221);
    
}
input:not([type='checkbox']),
select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 153, 0);
   margin-top: 10px;
   font-weight: 100px;
}
::placeholder{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

input[type=submit]{
    border: none;
    background: rgb(197, 197, 197);
    cursor: pointer;
    border-radius: 7px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

.all{
    padding: 15px;
    display: flex;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 5px;
    margin: 0 4%;
    margin-left: -3%;
    font-family: sans-serif;
    border: 1px solid #fff;
}
.grop{
    margin-left: 50%;
    margin-top: -15%;
}
ul{
    display: flex;
    margin-left: 23%;
    margin-top: -2%;
    cursor: pointer;
    border-radius: 7px;

}

button{
    border: 1px solid #fff;
    background: rgb(118, 137, 143);;
    margin-top: 3%;
    margin-left: 60%;
    height: 50px;
    font-weight: bold;
    border-radius: 7px;

}
.cmm2 img{
    width: 18%;
    height: 15%;
    margin: 0 2%;
    
   
}
.cmm1{
    margin-left: 10%;
    margin-top: 15%;
}
.cmm1 h2{
    margin-top: 10%;
    color: white;
    margin-left: -13%;
}




/* PHOTOS.CSS */
.web2{
    display: flex;
}
.web2 img{
    width: 400px;
    height: 220px;
    margin: 0 2%;
}
.web3{
    display: flex; 
}
.web3 img{
    width: 400px;
    height: 220px;
    margin: 0 2%;
}
.web1{
    padding: 50px;
    margin-top: 5%;
    margin-left: 200px;
}

/* EDUCATION.CSS */

.pnc{
    display: flex;
}
.bap{
    display: flex;
}
.kap{
    display: flex;
}
.education img{
    width: 300px;
    padding: 10px;
}
.education{
    margin-left: 20%;
    margin-top: 10%;
    color: white;
}
.write {
    width: 50%;
    margin-top: 5%;
}

.educa1 h2{
    color: tomato;
}





.N{
    background: rgb(45, 91, 117);
    display: flex;
    margin-top: 2%;
}
.nov img{
    width: 30%;
    margin-top: 2%;
    margin-left: 40%;
}
.bb{
    width: 45%;
    text-align: start;
    margin-left: -15%;
    margin-top: 4%;
    color: rgb(221, 221, 221);
}




.para{
    width: 80%;
    margin: auto;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: flex;
}
.ar{
width: 50%;
}
.cc p{
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
}


footer{
    background: rgb(23, 112, 134);
    height: 7vh;
    height: 10vh;
    color:rgb(23, 112, 134);
}

.educa{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: start;
}
.educa1{
    width: 90%;
}
.educa2{
    width: 90%;
}

.choose{
    display: flex;
    width: 75%;
    margin: auto;
    color: white;
    font-family: sans-serif;
    
}
.choose  p{
    width: 60%;
    text-align: start;
}

