*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    background: rgb(118, 137, 143);
}
nav {
    margin-bottom: 10px;
}
nav ul{
    margin-right: 60%;
    margin-left: 65%;
    margin-top: -4%;
    display: flex;
}
nav ul li :hover{
    color: rgb(10, 10, 10);
    
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
a{
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
nav img{
    width: 20%;
    margin-left: 10%;
    margin-top: 2%;
}
.container{
    display: flex;
}
.contain img{
    width: 50%;
    margin-top: 15%;
    margin-left: 40%;

}
.paragram{
    width: 40%;
    color: rgb(44, 38, 38);
    padding: 10px;
    margin-top: 10%;
    margin-left: -2%;
    font-family: sans-serif;
}
.paragram h2{
    font-family: sans-serif;
    color: black;
}
.photo{
    display: flex;  
}
.colom img{
    width: 30%;
    margin-top: 15%;
    margin-left: 50%;
}
.row{
    width: 40%;
    color: rgb(39, 37, 37);
    padding: 10px;
    margin-top: 10%;
    margin-left: -5%;
    font-family: sans-serif;
}
.row h3{
    color: rgb(238, 100, 8);
}
.colom h3{
    margin-top: -1%;
    margin-left: 58%;
}
.pdf{
    background: royalblue;
    width: 15%;
    padding:10px;
    margin-left: 55%;
    margin-top: -5%;
    border-radius: 7px;
}